<!DOCTYPE html>
<html>  
<head>  
<title>Flask Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='styles_index.css') }}">  
</head>  
<body class="center_body"> 
    <header> 
        <h2 class="logo">NBA 運彩下注網</h2>
        <nav class="navigation">
            <a href ="/view">比賽資訊</a>
            <a href="/team">季後賽球隊資訊</a>
            <a href="/player">季後賽球員資訊</a>
            <a href="/money_in_out">出入金</a>
            <a href="/bet_index">下注</a>
            <a href="/member_infor">會員資料</a>
            <a href="/logout">登出</a>
        </nav>
    </header>
    <h2>
        " 賭鬼{{user_id}}籃球反著買，別宿靠大海！！！"
    </h2>

</body>  
</html>