<!DOCTYPE html>
<html>  
    <head>  
        <title>Flask Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles_index.css') }}">  
    </head>  
    <body class="center_body"> 
        <header> 
            <h2 class="logo">NBA 運彩下注網</h2>
            <nav class="navigation">
                <a href ="/view">比賽資訊</a>
                <a href="/team">季後賽球隊資訊</a>
                <a href="/player">季後賽球員資訊</a>
                <a href="/login">會員登入</a>
                <a href="/gameplay">下注玩法</a>
            </nav>
        </header>
        <h2>
            "尊貴的{{user}}希望我們能再相見"
        </h2>
    </body>  
</html>  